.bordesBlog{
    margin:4%
}

.ubicacionIMG{
    object-fit: cover;
    object-position: top center;
}
.example-card {
    max-width: 350px;
    height: 80vh;
  }

.card2 {
    height: 50vh;
    max-width: 300px;
}
