.bordesBlog{
    margin:4%
}

mat-card {
    height: 90vh;
}
.ubicacionIMG{
    object-fit: cover;
    object-position: top center;
}
.example-card {
    max-width: 300px;
  }
.favoritos {
    margin: 2%;
}
.menuder{
    padding: 20px;
}
