.rojo{
    background-color: black
}
.encabezado{
    color: rgb(43, 39, 39);
    list-style:none
}
.encabezado > button{
    color:orangered;
}
.seleccionado{
    background-color: rgb(64, 66, 64);
}
