<div fxLayout="row">
  <mat-toolbar class="blue">
    <div class="encabezadoh" fxFlex="30">
      <img src="../../assets/img/Rick-morty.jpg" fxFlex="35">
    </div>
    <div fxFlex="28" fxLayout="row" fxLayoutAlign="end center">
      <div class="encabezado" fxLayout="row">
        <button mat-button routerLink="/personajes" routerLinkActive="seleccionado">Personajes</button>
        <button mat-button routerLink="/ubicacion" routerLinkActive="seleccionado">Ubicaciones</button>
        <button mat-button routerLink="/episodes" routerLinkActive="seleccionado">episodios</button>
      </div>
    </div>
  </mat-toolbar>
</div>