.bordesBlog{
    margin:4%
}

mat-card {
    height: 50vh;
}
.ubicacionIMG{
    object-fit: cover;
    object-position: top center;
}
.example-card {
    max-width: 300px;
  }
.carta1{
    max-width: 400px;
}